<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div id="text">
  <h1>Kam's Kosmic Kalculator</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </p>
</div>
<!--
  <div class="container">
   -->
<div id=pad>
  <div class="dropdown">
    <h3>Input</h3>
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Planets
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a tabindex="1" href="#">Kerbol</a></li>
      <li><a tabindex="2" href="#">Moho</a></li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="3" href="#">Eve</> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="4" href="#">Gilly</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="5" href="#">Kerbin</> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="6" href="#">Mun</a></li>
          <li><a tabindex="7" href="#">Minmus</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="8" href="#">Duna</> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="9" href="#">Ike</a></li>
        </ul>
      </li>
      <li><a tabindex="10" href="#">Dres</a></li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="11" href="#">Jool</> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="12" href="#">Laythe</a></li>
          <li><a tabindex="13" href="#">Vall</a></li>
          <li><a tabindex="14" href="#">Tylo</a></li>
          <li><a tabindex="15" href="#">Bop</a></li>
          <li><a tabindex="16" href="#">Pol</a></li>

        </ul>
      </li>
      <li><a tabindex="17" href="#">Eeloo</a></li>
    </ul>
    </li>
    </ul>
    </li>
    </ul>
  </div>
  <div class="form-group" >
    <label for="label1" class="control-label col-sm-5">Input 1</label>
    <div class="col-sm-7">
      <div class="input-group">
        <input type="number" name="input1"  step="1" placeholder="0" id="input1" class="form-control" ng-model="input1" />
        <!--
        <span class="input-group-addon mathml"><math><mi></mi></math></span>
-->
      </div>
    </div>
  </div>
    <label for="label2" class="control-label col-sm-5">Input 2</label>
    <div class="col-sm-7">
      <div class="input-group">
        <input type="number" name="input2" step="1" placeholder="0" id="input2" class="form-control" ng-model="input1" />
        <!--
        <span class="input-group-addon mathml"><math><mi></mi></math></span>
-->
      </div>
    </div>
  </div>
    <label for="label3" class="control-label col-sm-5">Input 3</label>
    <div class="col-sm-7">
      <div class="input-group">
        <input type="number" name="input3"step="1" placeholder="0" id="input3" class="form-control" ng-model="input1" />
        <!--
        <span class="input-group-addon mathml"><math><mi></mi></math></span>
-->
      </div>
    </div>
  </div>

    <label for="label4" class="control-label col-sm-5">Input 4</label>
    <div class="col-sm-7">
      <div class="input-group">
        <input type="number" name="input4" step="1" placeholder="0" id="input4" class="form-control" ng-model="input1" />
        <!--
        <span class="input-group-addon mathml"><math><mi></mi></math></span>
-->
      </div>
    </div>
  </div>




  <input type="submit" value="Submit" />
  </form>

</div>
